.note {
    background-color: #bdcdec;
    padding: 5px 10px;
    border: 1px solid #75819e;
    margin: 5px 0;
    border-radius: 3px;
    font-size: .8em;
}

.btn-xs {
    font-size: .7em;
    padding: 1px 5px;
}