body {
    padding-top: 70px;
}

.note {
    background-color: #bdcdec;
    padding: 5px 10px;
    border: 1px solid #75819e;
    margin: 5px 0;
    border-radius: 3px;
    font-size: .8em;
}

.btn-xs {
    font-size: .7em;
    padding: 1px 5px;
}

.sections-list {
    cursor: pointer;
}

.sections-list > .list-group-item:hover {
    background-color: #d2dcf9;
}

.sections-list > .list-group-item.active:hover {
    background-color: #337ab7;
}

.username {
    color: #6f758a;
}